@charset "utf-8";
@import url("fonts.css");

/* 본문 스타일 */


/* 레이아웃 설계 */

.container {
  background-color: white;
}
.header, .navnavigation, .main-content, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */

.header {
  background-color: white;
}

/* 로고 */

.logo {
  position: absolute;
  margin: 4px;
  font-size: 3em;
}

/* 멤버 링크 */

.member {
  text-transform: uppercase;
  font-size: 0;
  text-align: right;
  transform: translateX(10px);
}
.member li {
  display: inline-block;
  font-size: 15px;
  padding: 10px 0;
}
.member li:nth-child(n+2)::before {
  content: "";
}
.member a {
  padding: 8px 10px;
}

/* 통합 검색 */

.search {
  background-color: white;
  text-transform: uppercase;
  text-align: right;
}

/* 메인 메뉴 */

.main-menu {
  background: #917e6e;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: center;
}
.main-menu span {
  color: white;
  font-family: "Noto Sans Bold";
  font-size: 20px;
}
.main-menu li {
  display: block;
  padding: 10px;
  font-size: 18px;
  float: center;
  position: none;
}

/* 모바일 디바이스 */

@media all and (max-width:999px) {
  body {
    font-size: 1.4rem;
  }
  .main-menu {
    position: absolute;
    transform: translateX(-100%);
  }
}

/* 메인 컨텐츠 */

.main-content {
  background-color: white;
  width: 940px;
  margin-bottom: 300px;
}
.recommend-book-heading {
  background: url(images/sprite_main.png) no-repeat;
  height: 60px;
  padding-left: 65px;
  font-weight: 700;
  font-size: 2rem;
}
.recommend-book-heading span {
  color: #99c063;
}
.news-heading span {
  color: rgb(124, 124, 31);
}
.webcafe-board-heading span {
  color: rgb(58, 58, 19);
}
.webcafe-twitter-heading span {
  color: rgb(18, 18, 204);
}
.favorite-site-heading span {
  color: rgb(168, 117, 29);
}

/* 슬로건 */

.slogan {
  background-color: orange;
}

/* 푸터 */

.footer {
  background-color: skyblue;
}